/***************************************
	VARIABLES
 ***************************************/

//	Background Colors
$dark_red: 	#38000d;
$dark_gray: #0a0000;
$steel: 	#0f0c17;
$red_gray: 	#331e19;
$light_gray:#dbc2c2;
$error_red: #c34646;
$fafa_white:#fafafa;

//	Spacing
$def_margin: 10px;
$def_padding:10px;
$def_border:    0;
$pg_width: 70%;
$pg_width_min: 300px;
$pg_width_max: 900px;

//	Text
$font_family: 'Quattrocento', serif;
$font_color: $dark_gray;
$a_color: #600a06;
$a_visited: #60062d;
$highlight_color: rgba(96, 0, 10, 0.85);
$h_font1: $font_family; 
$h_font2: 'Julius Sans One', sans-serif;


