@import "variables";

/****************************
	Registration
 ****************************/

div#registration {
	width: $pg_width_min - 2* $def_padding;
	overflow: hidden;
	float: left;
	label {
		float: left;
		width: 90px;
		text-align: right;
		padding-top: 10px;
	}
	input {
		width: 150px;
		float: left;
		margin: 5px 0 3px 10px;
		&:focus {
			background-color: #ddd;
		}
	}
	input[type="submit"] {
		margin-left: 100px;

	}
}	
div#registration_notes {
	float: right;
	min-width: $pg_width_min - 2 * $def_padding;
}

